html, body {
  scroll-behavior: smooth;
  font-family: 'Raleway',"Helvetica Neue",sans-serif;
  height: 100%
}
.container-fluid {
  padding: 0 !important;
}
.jumbotron {
  margin: 0 !important;
  padding-bottom: 6rem !important;
}
.row {
  margin: 0 !important;
}
.navbar {
  padding: .5rem;
  background-color: #212121;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.2em !important;
  font-weight: 550;
}
.nav-color, .logo-name {
  color: #d9d9d9 !important;
}
.nav-color:hover {
  color: white !important;
}
.active-nav {
  color: white !important;
}
.my-logo {
  padding-left: 20px;
}
.parallax1 {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Background 1*/
.parallax1 {
  background-image: url('../img/bg2.jpg');
}
.para-title {
  font-family: 'Raleway';
  color: white;
  text-shadow: 2px 2px 15px #000;
  font-size: 500%;
  font-style: italic;
  padding-top: 15vh;
  animation-name: title;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lightbox-img {
  height: 45vh;
  width: 100%;
  border-radius: 1.5%;
}
.lightbox-img:hover {
  animation-name: img-hover;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}
@keyframes img-hover {
  from{box-shadow: 0px 0px 0px #000}
  to {box-shadow: 0px 0px 15px #000}
}
.text-divs, .text-divs-right {
  margin: 2rem;
  display: flex;
  align-items: center;
}
.text-divs-right {
  text-align: right;
}
.text-divs > p {
  font-size: 150%;
  padding-left: 10rem;
  padding-right: 10rem;
  margin: 0;
}
.text-divs-right > p {
  font-size: 150%;
  padding-left: 13rem;
  padding-right: 2rem;
  margin: 0;
}
.text-divs-left {
  margin-left: 17rem;
}
.scroll-top, .scroll-bot {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
}
.showArrow {
  visibility: visible;
  opacity: 1;
}
.hideArrow {
  visibility: hidden;
  opacity: 0;
}

/*---Media Queries --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@media (max-width: 1500px) {
  .col-lg-6 {
    flex: 0 0 67%;
    max-width: 100%;
  }
  .lightbox-img {
    height: auto;
  }
  .para-title {
    font-size: 60px;
  }
  .text-divs {
    margin: 0;
    padding: 2rem;
  }
  .text-divs > p {
    padding: 0;
  }
  .text-divs-right {
    padding-left: 0;
    padding-right: 0;
  }
  .text-divs-right > p {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media (max-width: 992px) {
  .showArrow {
    visibility: hidden;
  }
  .text-divs-right {
    margin: 0;
    padding: 2rem;
  }
  .col-lg-6 {
    flex: none;
  }
  .text-divs-right {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    text-align: end;
  }
}
@media (max-width: 576px) {}
